@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body,
html {
  height: 100%;
  margin: 0;
  font-family: roboto;
}

.container {
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 20% 80%;
}

.header {
  background-color: white;
  grid-column: 2 / 3;
}

.sidebar {
  background-color: skyblue;
  grid-row: 1 / 3;
}

.main-content {
  background-color: lightgrey;
}

.sd-box {
  height: 6%;
}
.sidebar .sd-box {
  font-size: 1em;
  font-weight: bold;
  color: white;
}

.sidebar .sd-box img {
  object-fit: contain;
  height: 20px;
  width: 20px;
  fill: white;
}
object {
  width: 20px; /* Set the width as needed */
  height: 20px; /* Set the height as needed */
  fill: white; /* Change the color to white */
}

ul,
li {
  list-style: none;
}
